		<form action="/login" method="POST">
			<div class="field">
			<label class="label">Usernme</label>
			<div class="control">
			<input type="text" name="name" class="input">
			</div>
			</div>

			<div class="field">
				<label class="label">Password</label>
				<div class="control">
				<input type="password" class="input" name="password">
				</div>
			</div>

				<div class="control">
				<button class="button is-primary">Submit</button>
				</div>